.Directory-Container {
  display: flex;
}

.Header {
  border: 2px solid black;
  width: 98.7%;
  height: 100px;
  margin: 4px;
  font-size: 48px;
  padding-top: 48px;
  padding-left: 10px;
}

.Episode-List {
  border: 2px solid black;
  width: 25%;
  height: 702px;
  margin: 4px;
  padding: 4px;
  overflow-y: scroll;
  flex: 1;
}

.Episode-Information {
  border: 2px solid black;
  height: 700px;
  margin: 4px;
  width: 75%;
  padding: 5px;
}

.Episode-Information-Box {
  border: 1px solid black;
  font-size: 24px;
}

.Episode-Description-Box {
  border: 1px solid black;
  font-size: 24px;
  margin-top: 4px;
}

.episode-button {
  width: 100%;
}